<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>创建项目</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/skins/square/blue.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">语料标注系统</a>
        </div>
        {#        <div id="navbar" class="navbar-collapse collapse">#}
        {#          <form class="navbar-form navbar-right" role="form">#}
        {#            <div class="form-group">#}
        {#              <input type="text" placeholder="Email" class="form-control">#}
        {#            </div>#}
        {#            <div class="form-group">#}
        {#              <input type="password" placeholder="Password" class="form-control">#}
        {#            </div>#}
        {#            <button type="submit" class="btn btn-success">Sign in</button>#}
        {#          </form>#}
        {#        </div><!--/.navbar-collapse -->#}
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">
    <h1 class="page-header">创建项目</h1>
    <!-- Example row of columns -->
    <div class="row">
        <form role="form" action="/new/upload" method="post" enctype="multipart/form-data">
            <div class="col-md-5 col-sm-5">

                <div class="form-group">
                    <label for="project_name">项目名称</label>
                    <input type="text" class="form-control" id="project_name" name="project_name" placeholder="项目名称">
                </div>
                <div class="form-group">
                    <label for="user_name">发布者姓名</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="发布者姓名">
                </div>
                <div class="form-group">
                    <label for="project_type">项目类型</label>
                    <select name="project_type" id="project_type" class="form-control">
                        <option value="1">意见挖掘</option>
                        <option value="2">一般</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lang">项目类型</label>
                    <select name="lang" id="lang" class="form-control">
                        <option value="zh">中文</option>
                        <option value="en">英文</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="desc">项目描述</label>
                    <textarea class="form-control" name="desc" id="desc" rows="3" placeholder="项目描述"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">上传语料文件</label>
                    <input type="file" id="exampleInputFile" name="corpus_file">
                    <p class="help-block">一行为一条语料，只有语料内容，编码一定为UTF-8.</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="form-group">
                    <label for="domain">项目领域</label>
                    <input type="text" class="form-control" id="domain" name="domain" placeholder="项目领域">
                </div>
                <div class="form-group">
                    <label for="category_scheme">分类方案</label>
                    <textarea class="form-control" name="category_scheme" id="category_scheme" rows="6" placeholder="分类方案"></textarea>
                    <p class="help-block">一行为一个类别名称，这将作为最后的aspect分类方案，建议形式Entity-Aspect。</p>
                </div>
                <button type="submit" class="btn btn-default">提交</button>

            </div>
        </form>
    </div>


    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/js/icheck.min.js"></script>


</body>
</html>
